.singleBlog{
    flex:9;
    margin-top: 30px;
}

.BlogWrapper{

}

.blogImg{
    width: 100%;
    height: 400px;
    object-fit: cover;
}



.blogTitle{
    text-align: center;
    /* display: flex; */
    font-family: 'Lora', serif;
    margin-top: 10px;
}

.blogIconContainer{
   /* display: flex; */
   float: right;
  
}

.blogIcon{
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.blogIcon:first-child{
    color: teal;
}
.blogIcon:last-child{
    color:tomato
}

.blogAuthorInfo{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 ;
}

.author,.blogDate{
    color:rgb(88, 80, 34);
}

.blogDesc{
    line-height: 25px;
}